* {
    box-sizing: border-box;
}

.Main {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.Main .column {
    width: 50%;
    margin-right: 25px;
    background-color: #F5F9F9;
    border-radius: 10px;
}

.Main .todoTitle {
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
}

.droppable-col {
    width: 100%;
    background-color: #F5F9F9;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
}

.item {
    margin-bottom: 10px;
    background-color: #fff;
    color: #2c2c2c;
    border: 1px solid white;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

input[type=text] {
    border: none;
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    margin-bottom: 10px;
}

textarea[type=text] {
    border: none;
    font-size: 11px;
    width: 200px;
    height: 50px;
}

textarea:focus, input:focus{
    outline: none;
}

.todoInput {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 7px;
    padding: 15px;
}

.todoCount {
    height: 25px;
    width: 20px;
    background-color: #ECF3F3;
    color: #329C89;
    border-radius: 5px;
    padding-left: 5px;
    font-weight: 500;
    margin-bottom: 10px;
}

Button {
    width: 45%;
}

.edit-todo {
    background-color: #fff;
    position: absolute;
    right: 0;
    height: 78%;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}

.edit-todo-title {
    padding: 20px 0px 30px 30px;
}

.edit-todo-title > p {
    font-size: 18px;
    font-weight: 500;
}

.edit-todo-desc {
    padding: 20px 0px 30px 30px;
}

.edit-todo-desc > div >  p  {
    color: #6B6B6B;
}

.edit-todo-desc > div > div > p  {
    color: #000;
}

.edit-todo-desc > div > div > p > img {
    height: 30px;
}

.description {
    padding-top: 20px;
    display: flex;
}

.description > div {
    padding: 0px 20px 0px 40px;
}

.description > div > p {
    font-size: 14px;
}

.todoP {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}

#editTitle:not(:focus) {
    font-size: 18px;
    font-weight: 500;
    border: none;
    padding: 5px;
}

#editTitle:focus {
    font-size: 18px;
    font-weight: 500;
    border-color:rgba(0, 0, 0, 0.2) ;
    border-width: 1px;
    padding: 5px;
    border-radius: 5px;
}

#editDesc:not(:focus) {
    font-size: 14px;
    border: none;
    padding: 5px;
    height: 200px;
    width: 300px;
}

#editDesc:focus {
    font-size: 14px;
    border-color:rgba(0, 0, 0, 0.2) ;
    border-width: 1px;
    padding: 5px;
    height: auto;
    border-radius: 5px;
    height: 200px;
    width: 300px;
}

#editButtons {
    padding-top: 15%;
    padding-left: 40px;
    
}

@keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  